<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://scc-ofsted-registrations.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0a832e7a-c067-4d64-b8b0-7c29626bec6d/resourcegroups/Digital-Innovation/providers/Microsoft.Web/sites/scc-ofsted-registrations</ResourceId>
    <UserName>$scc-ofsted-registrations</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://scc-ofsted-registrations.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>