<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://coordinateconversion20230327.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25318a2e-5bc5-47f4-add3-982f366d30ff/resourceGroups/Automation_Project_Functions/providers/Microsoft.Web/sites/CoordinateConversion20230327</ResourceId>
    <UserName>$CoordinateConversion20230327</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://coordinateconversion20230327.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>