<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://itrent-data-conversion.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0a832e7a-c067-4d64-b8b0-7c29626bec6d/resourcegroups/Digital-Innovation/providers/Microsoft.Web/sites/itrent-data-conversion</ResourceId>
    <UserName>$itrent-data-conversion</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://itrent-data-conversion.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>