<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://scc-bigchange-sen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25318a2e-5bc5-47f4-add3-982f366d30ff/resourcegroups/Automation_Project_Functions/providers/Microsoft.Web/sites/scc-bigchange-sen</ResourceId>
    <UserName>$scc-bigchange-sen</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://scc-bigchange-sen.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>